*{
	margin: 0;
}

h1{
	color: blue;
	background-color: green;
	text-align: center;
	padding: 20px;
}

h2{
	background-color: yellow;
	text-align: center;
	padding: 20px;
}

h3{
	color: blue;
	background-color: black;
	text-align: center;
	padding: 20px;
}

h4{
	color: red;
	background-color: green;
	text-align: center;
	padding: 20px;
}
